.box1{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
i{
    font-size: 20px;
    color: white;
}
.a1{
    
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a2{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.a3{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.a4{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.a5{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.a6{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.a7{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.a8{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.parent2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 17px;
}
img {
    width: 200px;
}